footer{
    background-color: #f5f5f5;
    color: #40514e;
    float: left;
    clear: both;
    border-top: solid 8px #99ba657a;
}

a{
    color: #40514e;
}

footer .footer-copyright{
    color: #FEFEFE;
    background-color: #1e6cd1;
}

footer .footer-copyright a{
    color: #FEFEFE;
}