    body{
        background-color:#1e7e710e;

    }
    .contenedor-tarjeta{    
        width: 100%;
        margin: auto;
    }

    .caja{
        width:300px;
        align-items: center;
        -webkit-box-shadow: 0 3px 3px 3px rgba(0,0,0,.1);
        background-color: #1e7e710e;
        text-align: center;
        align-items: center;
        border: 1px solid;
        border-color: rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        transition-duration: 1s;
        margin:auto;
        margin-bottom:28px;
        padding:25px;
    }

    .caja p{
        color:#3d3d3dbb;
        transition-duration: 1s;
    }

    .caja:hover{
        background-color:#99ba65;
        color:white;
        .img-t{
            border:7px solid #fafafa;
        }
         p{
            color:white;
        }
    }
   
    img {
        width:140;
        height:140px;
    }

    .img-t{
        border-radius:160px;
        border:7px solid #99ba65;
        transition-duration: 1s;
    }

    .boton{
        text-transform: uppercase;
        font-size: 0.8em;
        letter-spacing: 0.2em;
        clear: both;
        background-color:#99ba65;
        text-decoration: none;
        padding: 0.5em 1em;
        margin-bottom: 20px;
        color: white;
        border-radius: 0.3em;
        border: solid 0.05em #CCC;
    }

    .item-desplegable:hover{
        color:white;
        border-color: black;
        background-color: green;
    }

    .alert-no-profesionales{
        width: 100%;
        height: 50vh;
    }

    @media only screen and (max-width: 767px) {
        .caja{
            width: 100%;
        }
    }