<header 
    titulo="Profesionales"
    icono="fas fa-id-card-alt"
    [botones]="[['crear','crear']]"
></header>


<input class="filtro" type="text" placeholder="filter" [(ngModel)]="filter" (input)="filtrar()"
placeholder="Filtrar por nombre o correo">

                    
<div *ngIf="errores" class="errores col-12 p-0">
    <div *ngFor="let error of errores " class="error alert-danger alert text-center">
        {{ error }}
    </div>
</div>

<div class="div-tabla table-responsive">
    <table *ngIf="profesionales" class="table fixed text-center expandible">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th>Nombre</th>
                <th>Profesional</th>
                <th>Teléfono</th>
                <th>Correo</th>
                <th>Fecha</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let profesional of profesionales | paginate: { itemsPerPage: 10, currentPage: p }">
                <!-- DATOS PRINCIPALES  -->
                <tr>
                    <th scope="row">
                        <i 
                            class="fas fa-chevron-right" data-toggle="collapse" 
                            attr.data-target="#profesional-{{profesional.id}}" aria-expanded="false" 
                            attr.aria-controls="#profesional-{{profesional.id}}"
                        ></i>
                    </th>
                    <td class="text-info">{{profesional.nombre}}</td>
                    <td>{{profesional.tipo_profesional.nombre}}</td>
                    <td>{{profesional.telefono}}</td>
                    <td>{{profesional.email}}</td>
                    <td>{{profesional.created_at | date:'d-MM-yy HH:mm'}}hs</td>
                    <td>
                        <a class="btn text-info p-0" role="button" [routerLink]="[profesional.id]"><i class="far fa-edit ml-1 mr-1"></i></a>
                        <button class="btn text-info p-0" attr.data-target="#eliminar-{{profesional.id}}" data-toggle="collapse" 
                            aria-expanded="false" attr.aria-controls="#eliminar-{{profesional.id}}">
                            <i class="far fa-trash-alt ml-1 mr-1"></i>
                        </button>
                    </td>
                </tr>
                <!-- DATOS EXTRAS  -->
                <tr class="collapse" attr.id="profesional-{{profesional.id}}">
                    <th scope="row" colspan="1"></th>
                    <td colspan="3" class="text-center">
                        <img class="d-inline-block" src="{{url_storage}}{{profesional.imagen}}" height="150">
                    </td>
                    <td colspan="2" class="text-center">
                        <a class="btn btn-outline-info d-inline-block mt-5" href="{{url_storage}}{{profesional.CV}}" target="_blank">Abrir CV</a>
                    </td>
                </tr>
                <!-- ELIMINAR  -->
                <tr class="collapse" attr.id="eliminar-{{profesional.id}}">
                    <td colspan="7" class="text-center">
                        <div [className]="'preguntar-eliminar preguntar-eliminar-'+profesional.id">
                            <span>¿Seguro queres eliminar el profesional <b>{{profesional.nombre}}</b>? </span>
                            <button (click)="eliminar(profesional)" type="button" class="ml-5 btn btn-danger boton">
                                Eliminar
                            </button>
                            <button type="button" class="ml-5 btn btn-secondary boton"
                                    attr.data-target="#eliminar-{{profesional.id}}" data-toggle="collapse" 
                                    aria-expanded="false" attr.aria-controls="#eliminar-{{profesional.id}}">
                                Cancelar
                            </button>
                        </div>

                        <div [className]="'d-none mensaje-eliminar alert alert-success mensaje-eliminar-'+profesional.id">El profesional {{profesional.nombre}} fue eliminado </div>

                    
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>
<div class="col-12 text-center">
    <pagination-controls class="pagination clearfix d-inline-block mt-4" (pageChange)="p = $event" autoHide="true" responsive="true"
    directionLinks="true" previousLabel="Anterior" nextLabel="Siguiente" maxSize="4"></pagination-controls>
</div>

