/* Filtro */
.filtro {
	margin-bottom: 10px;
	width: 300px !important;
	padding: 5px !important;
	border: none !important;
	border-bottom: 1px solid #002f61 !important;
	border-radius: 0px !important;
	text-align: left !important;
}
