<section class="container">

<div class="row">
    <div class="contenedor-caja col-xl-3 d-xl-block p-2">
        <!-- Tarjeta de Profesional -->
            <div class="caja" *ngIf="myProfesional!=null">
                <img src="{{url_storage}}{{myProfesional.imagen}}" alt="" class="img-t">
                <h5 class="mt-2">{{myProfesional.nombre}}</h5>
                <p>{{myProfesional.tipo_profesional.nombre}}</p>
            </div>
    </div>

    <div class="col-xl-9 col-12 col-12 p-0">
        <div class="scroll-clase">

            <div class="caja-comentario" *ngFor="let op of opinionesProfesional">
                <div class="comentario">             
                    <p class="fecha pl-2" style="text-align: end;">{{getAntiguedad(op.created_at)}}</p>       
                    <p>
                        <span>{{op.descripcion}}</span>
                        <span class="fecha pl-2 d-none">{{getAntiguedad(op.created_at)}}</span>
                    </p>
                    <p style="text-align: end;  font-style: italic;">— {{op.nombre}}</p>
                </div>
            </div>
        </div>

        <div class="alert alert-primary" *ngIf="alerta" role="alert">
            Su comentario sera publicado cuando los administradores lo aprueben. Muchas gracias por su opinión.
        </div>

        <div class="row col-12 p-0 m-0">
            <!-- Enviar comentarios -->
            <div class="col-12 p-0 m-0">

                <div class="enviar col-12 p-0 pl-2 pl-md-0 m-0">
                    <textarea class="form-control textarea" id="texto" rows="3" placeholder="Ingrese aqui su comentario..." ></textarea>
                    <button class="boton" data-toggle="modal" data-target="#exampleModalLong"><i class="fas fa-paper-plane"></i></button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" > 
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Primero necesitamos tus datos</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" #mimodal>
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="inputNombre">Nombre y Apellido</label>
                                        <input type="nombre" class="form-control" id="inputNombre">  
                                    </div>
                                    <div class="form-group col-md-6">
                                      <label for="inputEmail">Email</label>
                                      <input type="email" class="form-control" id="inputEmail">
                                    </div>
                                    <div class="form-group col-md-6">
                                      <label for="inputTelefono">Telefono</label>
                                      <input type="telefono" class="form-control" id="inputTelefono">
                                    </div>
                                  </div>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" (click)="enviar()">Enviar</button>
                            </div>
                        </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</section>


