<section class="container">

<div class="row">
    <div class="col-lg-3 col-xl-3 d-none d-sm-none d-lg-block">
        <!-- Tarjeta de Profesional -->
            <div class="caja">
                <img src="../../../assets/profesional1.jpeg" alt="" class="img-t">
                <p>Cuidador</p>
                <h5>Afrolindo Mircovich</h5>
            </div>
    </div>

    <div class=" col-xl-9 col-lg-9 col-12">
        <div class="scroll-clase">
            <div class="caja-comentario">
                <div class="comentario">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni, exercitationem iste voluptates repellat explicabo, voluptatibus amet velit dolores, omnis vitae eos hic unde? Quod, saepe!</p>
                    <p style="text-align: end;  font-style: italic;">— Maria Margarita</p>
                </div>
                <div class="comentario">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, ratione.</p>
                    <p style="text-align: end;  font-style: italic;">— Maria Margarita</p>
                </div>
                <div class="comentario">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed, eveniet? Quod, error necessitatibus magni laborum similique impedit ex sapiente hic soluta incidunt nihil quibusdam nam facere saepe dignissimos, exercitationem ipsum!</p>
                    <p style="text-align: end;  font-style: italic;">— Maria Margarita</p>
                </div>
                <div class="comentario">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni, exercitationem iste voluptates repellat explicabo, voluptatibus amet velit dolores, omnis vitae eos hic unde? Quod, saepe!</p>
                    <p style="text-align: end;  font-style: italic;">— Maria Margarita</p>
                </div>
                <div class="comentario">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores fugiat quos nam saepe praesentium explicabo soluta est sapiente, sequi excepturi ab, minima animi harum esse ullam optio sunt ea incidunt eligendi aliquid quod nobis neque aspernatur? Dolore dolores accusamus quam voluptatem nesciunt provident eius magnam. Eveniet architecto soluta omnis totam aperiam voluptates recusandae nostrum enim tenetur delectus quam incidunt, unde, saepe ullam optio illo vero quod accusamus deserunt consequuntur at reiciendis vitae laboriosam. Facere vitae, eius minima exercitationem ab unde nobis magni ut consequatur error alias suscipit quos similique deserunt deleniti quam sequi! Vel eum voluptatem veniam ducimus nesciunt perferendis.</p>
                    <p style="text-align: end;  font-style: italic;">— Maria Margarita</p>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Enviar comentarios -->
            <div class="col-12">
                <div class="enviar">
                    <textarea class="form-control textarea" id="exampleFormControlTextarea1" rows="3" placeholder="Ingrese aqui su comentario..." ></textarea>
                    <button class="boton"><i class="fas fa-paper-plane"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
</section>


