.sumate{
}

.sumate .portada{
    min-height: 200px;
    background-image: url('/assets/slider-2.jpg');
    background-position: center;
    background-size: 100% auto;
    -webkit-box-shadow: 0px 10px 17px -9px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 10px 17px -9px rgba(0,0,0,0.05);
    box-shadow: 0px 10px 17px -9px rgba(0,0,0,0.05);
}

.sumate .portada .subtitulo{
    text-transform: uppercase;
    font-size: 16px;
	  color:#86a554;
}

.sumate .portada .titulo{
    font-size: 38px;
    color: #1e6cd1;
}

.datos{ 
}

.datos .titulo, .sumate .titulo{
  font-weight: 600;
  font-size: 23px;
}


.datos .dato{
  margin-bottom: 10px !important;
  float: left;
  clear: both;
  font-size: 19px;
}

form{ 
    border-right: 2px solid #EEE;
    padding-right: 20px !important;
    padding-bottom: 20px !important;
}

.form-group{
    margin-top: 20px;
}

.form-group label{
    color: #03162e;
}

.form-group input, .form-group select, .custom-file-label, .form-group textarea{
    border: solid 1px #FFF;
    background-color: rgba(232, 232, 243, 0.384);
    border-bottom: 1.5px solid #267ef1;
    border-radius: 0;
    height: 43px;
}

.form-group input:focus, .form-group select:focus, .form-group textarea:focus{
    border-bottom: 1.5px solid #99ba65;
    transition: 0.5s;
    //height: 41px;
}

.form-group textarea{
  height: 120px;
}

form .boton{
    border-radius: 1px;
    text-transform: uppercase;
    padding: 10px 5px;
    margin-top: 40px;
    background-color:#99ba65;
    border-color: #8fb15a;
}

form .boton:hover{
    border-radius: 1px;
    text-transform: uppercase;
    padding: 10px 5px;
    margin-top: 40px;
    background-color:#749442;
    border-color: #5d7a2f;
}



@media (max-width: 1410px) {
}

@media only screen and (min-width: 1100px) and (max-width: 1400px) {
}


/* Medium Device : 1280px. */

@media only screen and (min-width: 992px) and (max-width: 1199px) {


}

/* Tablet : 768px. */

@media only screen and (max-width: 991px) {
    .sumate .portada{
        background-size: 100% auto ;
        min-height: 130px;
    }
    .sumate .portada .subtitulo{
        font-size: 12px;
    }
    .sumate .portada .titulo{
        font-size: 28px;
    }
	span.blanco{
		background-color: rgba(255, 255, 255, 0.829);
		padding-left: 5px;
		padding-right: 5px;
	}
}

/* Large Mobile : 480px. */

@media only screen and (max-width: 767px) {

}

/* Small Mobile : 320px. */

@media only screen and (max-width: 479px) {

}
