<!-- CAROUSEL -->

<div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">

        <!-- IMAGEN 1 -->
        <div class="carousel-item active" [style.background]="'url(/assets/slider-1.jpg)'">
            <div class="mask flex-center">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="info col-md-7 col-12 order-md-1 order-2 pl-md-0 mt-5 mt-md-5 pt-md-5">
                            <h4 class="mt-4 pt-5">
                                ¿Quiénes somos?
                            </h4>
                            <p>
                                Somos un <b>equipo</b> de agentes de <b>salud</b> de la ciudad de <br>
                                <b>Bahía Blanca</b> que se dedica a la prestación de servicios <br>
                                relacionados con atención domiciliaria las <b>24hs</b> los <b>365 <br>
                                días</b> del año.                           
                            </p>
                            <a role="button" class="btn btn-outline-primary boton" [routerLink]="['/contacto']">Contactanos</a> 
                        </div>
                        <a class="col-md-5 col-12 order-md-2 order-1 invisible d-none ">
                            <img src="https://i.imgur.com/NKvkfTT.png" class="mx-auto" alt="slide">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        
        <!-- IMAGEN 2 -->
        <div class="carousel-item" [style.background]="'url(/assets/slider-2.jpg)'">
            <div class="mask flex-center">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="info col-md-7 col-12 order-md-1 order-2 pl-md-0 mt-5 mt-md-5 pt-md-5">
                            <h4 class="mt-4">
                                Nuestros profesionales
                            </h4>
                            <p>
                                <b>Profesionales</b> de Enfermería, Acompañantes Terapéuticos,<br>
                                Cuidadores de la <b>Salud</b>, Transporte, Encomiendas por<br>
                                encargue (compras en farmacia, alimentos, etc.)
                            </p>
                            <a role="button" class="btn btn-outline-primary boton" [routerLink]="['/profesionales']">Ver profesionales</a> 
                        </div>
                        <div class="col-md-5 col-12 order-md-2 order-1 invisible d-none">
                            <img src="https://i.imgur.com/NKvkfTT.png" class="mx-auto" alt="slide">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        <!-- IMAGEN 3 -->
        <div class="carousel-item" [style.background]="'url(/assets/slider-3.jpg)'">
            <div class="mask flex-center">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="info col-md-7 col-12 order-md-1 order-2 pl-md-0 mt-5 mt-md-5 pt-md-5">
                            <h4 class="mt-4">
                                Abordajes
                            </h4>
                            <p>
                                Inyectables intramusculares y subcutaneo, <b>Vacunas</b>, Control <br class="d-none d-md-inline-block">
                                de Signos Vitales, HGT (control de glucosa), Nebulizaciones, <br class="d-none d-md-inline-block">
                                Enema evacuante, Aspiracion de secreciones, <b>Higiene</b> y <br class="d-none d-md-inline-block">
                                confort, Lavado vesical, Colocacion de acceso venoso <br class="d-none d-md-inline-block">
                                periferico, <b>Curaciones</b> planas, Tratamiento de ulceras y <br class="d-none d-md-inline-block">
                                escaras, Colocacion de Sonda nasogastrica, Colocacion de <br class="d-none d-md-inline-block">
                                sonda vesical.

                            </p>
                            <a role="button" class="btn btn-outline-primary boton" [routerLink]="['/profesionales']">Ver profesionales</a> 
                        </div>
                        <div class="col-md-5 col-12 order-md-2 order-1 invisible d-none">
                            <img src="https://i.imgur.com/NKvkfTT.png" class="mx-auto" alt="slide">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev d-none d-md-flex" href="#myCarousel" role="button" data-slide="prev"> 
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span> 
    </a> 
    <a class="carousel-control-next d-none d-md-flex" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span>
    </a>
</div>
<!--slide end--> 



<section id="botones">
    <div class="container">
		<a [routerLink]="['/profesionales']">
		<div class="columna boton1" >
			<h3 class="epigrafe">
                <span class="blanco">Profesionales</span>
            </h3>
			<h1 class="titulo">
                <span class="blanco">Enfermeros</span> <br> 
                <span class="blanco">y Cuidadores</span>
            </h1>
			<div class="boton">Ver profesionales</div>
		</div>
		</a>
		<a [routerLink]="['/sumate']">
		<div class="columna boton2">
			<div class="epigrafe"><span class="blanco">Sumate al grupo</span></div>
			<h5 class="titulo"><span class="blanco">se parte de Cuidar Salud</span></h5>
			<div class="boton">Enviar información</div>
		</div>
		</a>
    </div>
</section>

<div class="clearfix"></div>


<!-- NOSOTROS NUEVO -->
<section class="nosotros clearfix">
    <div class="container">
        <div class="imagen d-none d-xl-inline-block">
            <img class="p-0 col-12" src="/assets/nosotros.jpg">
        </div>
        <div class="descripcion  pl-xl-5  text-justify">
            <h1 class="mt-1">Cuidar Salud</h1>
            <div class="borde mt-0"></div>
            <p>
                Ofrecemos tranquilidad, apoyo y contención tanto para el paciente como a la familia con un equipo capacitado, con experiencia y calidez humana. Cuidar Salud Bahia Blanca cuenta con una propuesta innovadora y transparente que a los usuarios les brinda confianza y credibilidad.          
            </p>
            <p>
                Esta plataforma permite conocer previamente el perfil del/la prestador/a con la posibilidad de seleccion por nivel de capacitación, recomendaciones y comentarios de usuarios previos de dichos servicios.  
            </p>  
            <div class="borde corto pt-1"></div>
        </div>
        <div class="descripcion descripcion2 text-justify">
            <p>
                <b>Misión:</b> prestar un servicio adaptable a las necesidades del paciente y su entorno familiar incluyendolos en el proceso de salud-enfermedad como partes fundamentales del mismo. Ofrecemos apoyo, tranquilidad y calidez humana en nuestro trabajo, pilares complementarios a la responsabilidad, experiencia profesional y Capacitacion pertinente para abordar los casos de bajo-medio-alto nivel de complejidad.                            
            </p>
            <div class="borde corto pt-1"></div>
        </div>
        <div class="descripcion descripcion2 text-justify">
            <p>                
                <b>Visión:</b> nuestro equipo favorece la búsqueda de autonomía del sujeto de atención para que pueda reinsertarse en la comunidad y hacer una vida adaptadamente normal. La reivindicación del paciente como persona y actor social forma parte de nuestros valores.                          
            </p>
            <p>                
                El trabajo multidisciplinar en equipo nos brinda una vision amplia de una misma problematica a resolver logrando respuestas mayores que a la suma de las partes.                         
            </p>
            <div class="borde corto pt-1"></div>
        </div>
    </div>
</section>


<div class="clearfix"></div>